doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/static/css/home.css')
        script(type='text/javascript', src='/static/js/home.js')
    body(class='light-primary-color')
        h1 Good Luck!
